/* noUiSlider custom css */
.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}

.noUi-horizontal {
    width: 70%;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 30px;
}