:root {
    --background: #ecebe4
}


/* Page Layout */

body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    background-color: var(--background);
}

main {
    padding-left: 2%;
}
.center {
    margin: auto;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-item {

}

div#line-graph {
    padding: 0 15px;
}


div.separator {
    width: 10%;
}



/* forms */
form#religions {
    padding: 40px 15px;
    margin-top: 37px;
    min-width: 163px;
}

form label {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

form:hover {
    background: rgba(0,0,0, 0.45);
    border-radius: 5px;
    color: white;
}

form label:hover {
    color: #f1ce03;
    font-weight: bold;
    cursor: pointer;
}

/* ---- mouse hover cantonLabel ---- */

div#cantonLabel {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    pointer-events: none;
    padding: 0 10px;
    color: white;
    border-radius: 4px;
}

/* ---- right sticky ---- */


@media only screen and (max-width: 600px){
    aside#right-sticky {
        display: none;
    }
}

aside#right-sticky{
    position:fixed;
    bottom: 5px;
    right: 0;
    width: 18%;
    height: 100%;
    background: #3c3f41;
    color: white;
}
/* ---- github link ---- */
a#repo-link{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 6%;
    margin-bottom: 30px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    padding: 10px;
    color: white;
}

a#repo-link:hover{
    border: 1px solid white;
    padding: 9px;
    border-radius: 5px;
    text-shadow:0px 0px 3px white;  /* instead of font-weight: bold;. See: https://stackoverflow.com/questions/5687035/css-bolding-some-text-without-changing-its-containers-size*/
}

