:root {
    --background: #ecebe4
}


/* Page Layout */

body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    background-color: var(--background);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-item {

}

div#line-graph {
    padding: 0 15px;
}

form#religions {
    padding: 40px 15px;
}


/* ---- github link ---- */
a#repo-link{
    align-self: flex-end;
    margin-bottom: 30px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    padding: 10px;
}

a#repo-link:hover{
    border: 1px solid black;
    padding: 9px;
    border-radius: 5px;
    color: blue;
}

