/* the css co-related to swiss_map.1.0.js */

/*---------------- the Map -------------------*/

#chart-title {
    font-size: 24px;
    text-anchor: start;
}
.canton {
    fill: #bbb;
}
.canton:hover {
    fill: burlywood;
}
main section#map-section .selected-canton {
    fill: blue;
}
main section#map-section .selected-canton:hover {
    fill: lightblue;
}
.canton-boundary {
    fill: none;
    stroke: black;
    stroke-linejoin: round;
}
text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    text-anchor: middle;
}
text.canton-label {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    pointer-events: none; /* Click trough text element: https://stackoverflow.com/questions/3680429/click-through-a-div-to-underlying-elements*/
}


/*---------------- #swiss-regions checkboxes -------------------*/

div#map-wrapper {
    max-width: 650px;
}

form#swiss-regions {
    padding: 15px 0;
}

#swiss-regions section {
    float: left;
    margin: 0 10px;
}

#all-regions {
    padding-top: 100px;
}


/*---------------- EventHandling -------------------*/


/* initial values */
div#swiss-map {
    display: none;
    width: 100%;
}
div#swiss-map svg {
    width: 100%;
}
/*
div#map-wrapper:hover {
    width: 75%;
}*/